html
  head
    title My Site - #{title}
    style
      include style.css
  body
    block content
            h1 
              .heading  RMHCSD - Ronald McDonald House Charities - San Diego
            h3 #{FDATE}
            br
            h2 Click On This Link Fill Consent Form:  
                a(href=`${TEXT}`) Consent Form
            br
            h2 The health and well-being of our staff and visitors,is of the utmost importance. Thank you in advance for helping maintain our Covid-19 protocol and our safe ty program.
            br
            h4 Please review your data/wireless plan for any applicable charges and your rights under
                a(href="https://safebusinesssolutions.com/")  Privacy Policy | Safe Business Solutions Thru Customer Service 
              
            
            
    
