
html
  head
    title My Site - #{title}
    style
      include style.css
  body
    block content
            h1 RMHCSD - Ronald McDonald House Charities - San Diego
            h2 
              .heading Admin Portal 
            
            h2 Click on Below Button To Reset Your Password
            br
            .button-class
                a(class='button', href=`${link}`) Click Me To Reset Password
            br
            br
    